# Build artifacts
*.exe
*.exe~
*.out
*.test

shorted
# Directory for build output
/bin/
/pkg/

# Dependency directories
/vendor/

# IDE-specific files
.idea/
.vscode/

# Environment files
.env

# Logs
*.log
